<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Widget</title>
        <meta name="description" content="iFrame message passing test">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://dvarcarcel.dev.sproutloud.com/includes/macaw-styles.css" >
        <script src="https://dev-sl-assets.sproutloud.com/arce/sdk.js"></script>
    </head>
    <body data-gr-c-s-loaded="true" class="m-external-widget">
        <div>
            <div class="m-sdk-select">
                <label id="app-widget-label"></label><br>
                <select id="app-widget-input" class="m-select">
                    <option value="">Select an option:</option>
                    <option value="site">https://scotch.com/site</option>
                    <option value="tyc">https://scotch.com/tyc</option>
                    <option value="faq">https://scotch.com/faq</option>
                </select>
                <label style="font-size:8px; word-break: break-all;" id="componentes"></label>
            </div>
        </div>

        <script>
            const sdk = new Sdk.CanvasSDK();
            console.dir(sdk);
            console.log("sdk", sdk);
            /**
             * function which contacts widget's server in order to decrypt
             * a string provided by the SDK. The returned value is simply
             * whatever the decrypted sting is...
             *
             * @param {String} eNonce
             *    The encrypted string provided by the SDK
             *
             * @return {Promise<Object>}
             *    A promise which is fullfilled with the decrypted value
             *    of the the eNonce parameter
             */
            function getNonce(eNonce) {
                return $.ajax({
                    url: '/nonce',
                    type:   'POST',
                    dataType: 'json',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'n' : eNonce,
                    }
                });
            }


            /**
             * function to populate the HTML elements of this widget. This
             * function was designed to consume the "components" object
             * returned by the SDK's "getComponents()" function.
             *
             * @param {Map} components
             *    A map object filled with all the components assigned
             *    to this widget instance.
             *
             * @return {String}
             *    The component_name
             */
            function setValue(components) {
                console.log("setting component values", components);
                // grab the iterator and use it to retrieve the first component
                // (in this case, we're just expecting one component)
                //let iterator = components.values();
                //let cmp = [{"component_id":"TC20070000011110","component_name":"linetext7_CUS","component_label":"Tons per Hour","component_type":"text","is_required":true,"action_text":null}]
                let cont = 0;
                components.forEach(cmp => {
                    if (cont == 0) {
                        $('#app-widget-label').text(cmp.label);
                        $('#app-widget-input').attr('name', cmp.id);
                        $('#app-widget-input').val(cmp.value);
                    }
                    if (cont == 1) {
                        $('#componentes').append("<br>");
                        $('#label2').text(cmp.label);
                        $('#cmp2').attr('name', cmp.id);
                        $('#cmp2').val(cmp.value);
                    }
                    $('#componentes').append(JSON.stringify(cmp));
                    cont += 1;
                })
            }

            /**
             * function to get the values of the components this widget is
             * servicing. This function was designed to provide values
             * for the SDK, therefore, it's returning them as an array
             * of objects with a "name", and "value" attribute.
             *
             * @return {Array<Object>}
             *    A single entry array with an object containing
             *    the name and the value of the component this widget
             *    is servicing
             */
            function getValue() {

                // in this case, this widget is designed to only support
                // one component at a time, therefore this function will
                // return an array containint just one object
                return [
                    {
                        id:     $('#app-widget-input').attr('name'),
                        value:  $('#app-widget-input').val()
                    }
                ];
            }

            console.log("Let's initialize the canvas");
            // interaction with the sdk
            // 1. initialize SDK
            sdk.initialize({

                'nonce': function(e) {
                    return getNonce(e);
                },
                'component-values': function() {
                    return getValue();
                }
            })
            // 2. get the components (and their persisted values) associated with this widget
            .then(function() {
                console.log('Hanshake done - Now get the components');
                return sdk.getComponents();
            })
            // 3. use the response from the previous call to get the components in order to populate the UI
            .then(function(response){
                // Internally set value (and get component name for use in our modal)
                let componentName = setValue(response.components);
            }).catch((error) => {
                sdk.handleError(error);
            });

        </script>
        {% load static %}

        <script type="text/javascript" src="{% static 'js/iframeResizer.contentWindow.min.js' %}"></script>
    </body>
</html>